<img src='https://upload.wikimedia.org/wikipedia/fr/thumb/e/ed/Logo_Universit%C3%A9_du_Maine.svg/1280px-Logo_Universit%C3%A9_du_Maine.svg.png' width="300" height="500">

# Hotel Reservation Dataset

## Présentation du dataset

### Objectif du dataset

Le dataset contient les données de réservations en ligne des clients d'un hotel. **Le but de ce jeu de données est d'arriver à prédir si le client va respecter sa réservation ou l'annuler**.

### Description des données

* **Booking_ID** : unique identifier of each booking
* **no_of_adults** : Number of adults
* **no_of_children** : Number of Children
* **no_of_weekend_nights** : Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
* **no_of_week_nights** : Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
* **type_of_meal_plan** : Type of meal plan booked by the customer:
* **required_car_parking_space** : Does the customer require a car parking space? (0 - No, 1- Yes)
* **room_type_reserved** : Type of room reserved by the customer. The values are ciphered (encoded) by INN Hotels.
* **lead_time**: Number of days between the date of booking and the arrival date
* **arrival_year** : Year of arrival date
* **arrival_month** : Month of arrival date
* **arrival_date** : Date of the month
* **market_segment_type** : Market segment designation.
* **repeated_guest** : Is the customer a repeated guest? (0 - No, 1- Yes)
* **no_of_previous_cancellations** : Number of previous bookings that were canceled by the customer prior to the current booking
* **no_of_previous_bookings_not_canceled** : Number of previous bookings not canceled by the customer prior to the current booking
* **avg_price_per_room** : Average price per day of the reservation; prices of the rooms are dynamic. (in euros)
* **no_of_special_requests** : Total number of special requests made by the customer (e.g. high floor, view from the room, etc)
* **booking_status** : Flag indicating if the booking was canceled or not.

In [56]:
import pandas as pd 
import numpy as np


dataset = pd.read_csv('archive/Hotel Reservations.csv')
dataset

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [57]:
dataset.values.shape

(36275, 19)

# Analyse des données
On regarde si des valeurs sont égales à Nan
<br>
ID à supprimer : pas pertinenent
<br>
Des variables à discrétiser : avg_price_per_room, lead_time, no_of_previous_bookings_not_canceled
<br>
Attention à certaines variables qui sont majoritairement nulles

In [58]:
def verificationNan(dataset):
    return dataset.isna().sum()

In [59]:
verificationNan(dataset)

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [49]:
def dataAnalysis(dataset):
    for series_name, series in dataset.items():
        #print(series_name)
        print("**************\n")
        print(series.value_counts())
        print("**************\n")

In [60]:
dataAnalysis(dataset)

**************

INN00001    1
INN24187    1
INN24181    1
INN24182    1
INN24183    1
           ..
INN12086    1
INN12085    1
INN12084    1
INN12083    1
INN36275    1
Name: Booking_ID, Length: 36275, dtype: int64
**************

**************

2    26108
1     7695
3     2317
0      139
4       16
Name: no_of_adults, dtype: int64
**************

**************

0     33577
1      1618
2      1058
3        19
9         2
10        1
Name: no_of_children, dtype: int64
**************

**************

0    16872
1     9995
2     9071
3      153
4      129
5       34
6       20
7        1
Name: no_of_weekend_nights, dtype: int64
**************

**************

2     11444
1      9488
3      7839
4      2990
0      2387
5      1614
6       189
7       113
10       62
8        62
9        34
11       17
15       10
12        9
14        7
13        5
17        3
16        2
Name: no_of_week_nights, dtype: int64
**************

**************

Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5
Name: type_of_meal_plan, dtype: int64
**************

**************

0    35151
1     1124
Name: required_car_parking_space, dtype: int64
**************

**************

Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: room_type_reserved, dtype: int64
**************

**************

0      1297
1      1078
2       643
3       630
4       628
       ...
300       1
353       1
328       1
352       1
351       1
Name: lead_time, Length: 352, dtype: int64
**************

**************

2018    29761
2017     6514
Name: arrival_year, dtype: int64
**************

**************

10    5317
9     4611
8     3813
6     3203
12    3021
11    2980
7     2920
4     2736
5     2598
3     2358
2     1704
1     1014
Name: arrival_month, dtype: int64
**************

**************

13    1358
17    1345
2     1331
4     1327
19    1327
16    1306
20    1281
15    1273
6     1273
18    1260
14    1242
30    1216
12    1204
8     1198
29    1190
21    1158
5     1154
26    1146
25    1146
1     1133
9     1130
28    1129
7     1110
24    1103
11    1098
3     1098
10    1089
27    1059
22    1023
23     990
31     578
Name: arrival_date, dtype: int64
**************

**************

Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125
Name: market_segment_type, dtype: int64
**************

**************

0    35345
1      930
Name: repeated_guest, dtype: int64
**************

**************

0     35937
1       198
2        46
3        43
11       25
5        11
4        10
13        4
6         1
Name: no_of_previous_cancellations, dtype: int64
**************

**************

0     35463
1       228
2       112
3        80
4        65
5        60
6        36
7        24
8        23
10       19
9        19
11       15
12       12
14        9
15        8
16        7
13        7
18        6
20        6
21        6
17        6
19        6
22        6
25        3
27        3
24        3
23        3
44        2
29        2
48        2
28        2
30        2
32        2
31        2
26        2
46        1
55        1
45        1
57        1
53        1
54        1
58        1
41        1
40        1
43        1
35        1
50        1
56        1
33        1
37        1
42        1
51        1
38        1
34        1
39        1
52        1
49        1
47        1
36        1
Name: no_of_previous_bookings_not_canceled, dtype: int64
**************

**************

65.00     848
75.00     826
90.00     703
95.00     669
115.00    662
         ...
212.42      1
83.48       1
70.42       1
130.99      1
167.80      1
Name: avg_price_per_room, Length: 3930, dtype: int64
**************

**************

0    19777
1    11373
2     4364
3      675
4       78
5        8
Name: no_of_special_requests, dtype: int64
**************

**************

Not_Canceled    24390
Canceled        11885
Name: booking_status, dtype: int64
**************

In [61]:
# to execute only once
dataset = dataset.drop('Booking_ID',axis=1)
dataset

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [62]:
# Decomposition en quartile

def quartile(feature):
    prem_quartile = feature.quantile(0.25)
    de_quartile = feature.quantile(0.5)
    trois_quartile = feature.quantile(0.75)
    return (prem_quartile,de_quartile,trois_quartile)






# df.loc[df.C <= df.B, 'B':'E']
# quarter['avg_price_per_room'] = prem_quartile
# quarter

In [63]:
# Discrétistation des données


def discretisation(features,dataset):
    for feature in features:
        pQ,dQ,tQ = quartile(feature)
        dataset.loc[(feature <= pQ), feature.name] = 1
        dataset.loc[(feature > pQ) & (feature <= dQ), feature.name] = 2
        dataset.loc[(feature > dQ) & (feature <= tQ), feature.name] = 3
        dataset.loc[(feature > tQ), feature.name] = 4

In [64]:
continuFeatures = [dataset.avg_price_per_room,dataset.lead_time, dataset.no_of_previous_bookings_not_canceled]
discretisation(continuFeatures,dataset)

In [65]:
dataset

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,4,2017,10,2,Offline,0,0,4,1.0,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,1,2018,11,6,Online,0,0,4,3.0,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,4,1.0,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,4,2018,5,20,Online,0,0,4,3.0,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,2,2018,4,11,Online,0,0,4,2.0,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,Meal Plan 1,0,Room_Type 4,3,2018,8,3,Online,0,0,4,4.0,1,Not_Canceled
36271,2,0,1,3,Meal Plan 1,0,Room_Type 1,4,2018,10,17,Online,0,0,4,2.0,2,Canceled
36272,2,0,2,6,Meal Plan 1,0,Room_Type 1,4,2018,7,1,Online,0,0,4,2.0,2,Not_Canceled
36273,2,0,0,3,Not Selected,0,Room_Type 1,3,2018,4,21,Online,0,0,4,2.0,0,Canceled
36274,2,0,1,2,Meal Plan 1,0,Room_Type 1,4,2018,12,30,Offline,0,0,4,4.0,0,Not_Canceled

In [42]:
pd.qcut(dataset['no_of_previous_bookings_not_canceled'], 1 , labels=["peu"])

0        peu
1        peu
2        peu
3        peu
4        peu
        ...
36270    peu
36271    peu
36272    peu
36273    peu
36274    peu
Name: no_of_previous_bookings_not_canceled, Length: 36275, dtype: category
Categories (1, object): ['peu']

In [66]:
# Pre-process des données 


dataframe = dataset.sample(frac=1).reset_index(drop=True)



def train_test_dev_split(dataset):
    x_train = dataset.sample(frac=0.7)

    y_train = x_train['booking_status']
    
    x_test = dataset.drop(x_train.index,axis=0)
    
    y_test = x_test['booking_status']

    return (x_train,y_train,x_test,y_test)


x_train, y_train,x_test,y_test = train_test_dev_split(dataset)

In [12]:
# Detection des zeros pour préparer au classifieur bayesien naif
def zeroExistence(df):
    if (0 in df.values):
        return True
    return False

In [13]:
zeroExistence(dataset)

True

In [14]:
# Si zeros : +1 à toutes les données numériques

In [15]:
# Discretisation des données par la moyenne 

stats = x_train['avg_price_per_room'].describe()
slice = x_train.loc[x_train['avg_price_per_room'] <= 103.4]
slice

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
28262,2,0,0,2,Meal Plan 1,0,Room_Type 4,3,2018,6,28,Online,0,0,4,4.0,1,Not_Canceled
1033,2,0,1,0,Meal Plan 1,0,Room_Type 1,3,2018,6,26,Online,0,0,4,3.0,1,Canceled
15043,2,0,1,3,Meal Plan 1,0,Room_Type 1,4,2018,9,26,Offline,0,0,4,2.0,0,Canceled
5952,2,0,0,1,Meal Plan 1,0,Room_Type 6,1,2018,5,19,Online,0,0,4,4.0,2,Not_Canceled
12315,2,0,0,1,Not Selected,0,Room_Type 1,2,2018,10,19,Online,0,0,4,3.0,1,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8196,2,0,0,1,Not Selected,1,Room_Type 1,1,2017,10,9,Online,0,0,4,4.0,1,Not_Canceled
26279,2,0,2,2,Meal Plan 1,0,Room_Type 1,2,2018,11,12,Offline,0,0,4,1.0,1,Not_Canceled
2723,2,2,0,2,Meal Plan 1,0,Room_Type 6,4,2018,5,27,Online,0,0,4,4.0,2,Canceled
3343,2,0,0,2,Meal Plan 1,0,Room_Type 1,1,2018,6,8,Online,0,0,4,4.0,1,Canceled
3046,2,0,0,2,Not Selected,0,Room_Type 1,2,2018,8,18,Online,0,0,4,4.0,0,Canceled

In [16]:
slice.keys

<bound method NDFrame.keys of        no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  \
28262             2               0                     0                  2
1033              2               0                     1                  0
15043             2               0                     1                  3
5952              2               0                     0                  1
12315             2               0                     0                  1
...             ...             ...                   ...                ...
8196              2               0                     0                  1
26279             2               0                     2                  2
2723              2               2                     0                  2
3343              2               0                     0                  2
3046              2               0                     0                  2

      type_of_meal_plan  required_car_parking_space room_type_reserved  \
28262       Meal Plan 1                           0        Room_Type 4
1033        Meal Plan 1                           0        Room_Type 1
15043       Meal Plan 1                           0        Room_Type 1
5952        Meal Plan 1                           0        Room_Type 6
12315      Not Selected                           0        Room_Type 1
...                 ...                         ...                ...
8196       Not Selected                           1        Room_Type 1
26279       Meal Plan 1                           0        Room_Type 1
2723        Meal Plan 1                           0        Room_Type 6
3343        Meal Plan 1                           0        Room_Type 1
3046       Not Selected                           0        Room_Type 1

       lead_time  arrival_year  arrival_month  arrival_date  \
28262          3          2018              6            28
1033           3          2018              6            26
15043          4          2018              9            26
5952           1          2018              5            19
12315          2          2018             10            19
...          ...           ...            ...           ...
8196           1          2017             10             9
26279          2          2018             11            12
2723           4          2018              5            27
3343           1          2018              6             8
3046           2          2018              8            18

      market_segment_type  repeated_guest  no_of_previous_cancellations  \
28262              Online               0                             0
1033               Online               0                             0
15043             Offline               0                             0
5952               Online               0                             0
12315              Online               0                             0
...                   ...             ...                           ...
8196               Online               0                             0
26279             Offline               0                             0
2723               Online               0                             0
3343               Online               0                             0
3046               Online               0                             0

       no_of_previous_bookings_not_canceled  avg_price_per_room  \
28262                                     4                 4.0
1033                                      4                 3.0
15043                                     4                 2.0
5952                                      4                 4.0
12315                                     4                 3.0
...                                     ...                 ...
8196                                      4                 4.0
26279                                     4                 1.0
2723                                      4                 4.0
3343                                      4                 4.0
3046                                      4                 4.0

       no_of_special_requests booking_status
28262                       1   Not_Canceled
1033                        1       Canceled
15043                       0       Canceled
5952                        2   Not_Canceled
12315                       1       Canceled
...                       ...            ...
8196                        1   Not_Canceled
26279                       1   Not_Canceled
2723                        2       Canceled
3343                        1       Canceled
3046                        0       Canceled

[25392 rows x 18 columns]>

KeyError: "['Booking_ID'] not in index"

## ZeroR

In [53]:
def zeroR(target):
    res =  target.value_counts()
    
    return res.idxmax()

In [32]:
test = zeroR(x_train.loc[:,'booking_status'])
test

'Not_Canceled'

# Création des tables de fréquences pour OneR

In [11]:
x_train['required_car_parking_space'].value_counts()

0    24625
1      767
Name: required_car_parking_space, dtype: int64

In [47]:
freq_table = pd.crosstab(x_train['no_of_children'], x_train['booking_status']) 
freq_table

booking_status  Canceled  Not_Canceled
no_of_children
0                   7713         15829
1                    373           747
2                    306           409
3                      2            11
9                      1             0
10                     0             1

In [56]:
freq_table[['Canceled']]

booking_status  Canceled
no_of_children
0                   7713
1                    373
2                    306
3                      2
9                      1
10                     0

In [57]:
res = freq_table['Canceled'] + freq_table['Not_Canceled']
freq_table['Total'] = res
res

no_of_children
0     23542
1      1120
2       715
3        13
9         1
10        1
dtype: int64

In [58]:
freq_table

booking_status  Canceled  Not_Canceled  Total
no_of_children
0                   7713         15829  23542
1                    373           747   1120
2                    306           409    715
3                      2            11     13
9                      1             0      1
10                     0             1      1

In [72]:

def frequency_table(data):
    freq_tables = []
    for series_name, series in data.items():
        if (series_name == "Booking_status"):
            pass
        freq_table = pd.crosstab(data[series_name], data['booking_status'])
        freq_tables.append(freq_table)
    return freq_tables

In [74]:
freq = frequency_table(x_train)
for table in freq_tables:
    print(table)

booking_status  Canceled  Not_Canceled
no_of_adults
0                     29            71
1                   1282          4146
2                   6310         11940
3                    597          1009
4                      2             6
booking_status  Canceled  Not_Canceled
no_of_children
0                   7512         15979
1                    376           744
2                    326           436
3                      5            11
9                      1             1
10                     0             1
booking_status        Canceled  Not_Canceled
no_of_weekend_nights
0                         3518          8271
1                         2368          4667
2                         2194          4139
3                           48            52
4                           60            35
5                           22             5
6                           10             3
booking_status     Canceled  Not_Canceled
no_of_week_nights
0                       468          1267
1                      1760          4826
2                      2751          5227
3                      1791          3694
4                       810          1303
5                       439           694
6                        63            74
7                        30            42
8                        26            21
9                        17             7
10                       41             8
11                        9             2
12                        4             2
13                        4             0
14                        1             3
15                        3             2
16                        2             0
17                        1             0
booking_status     Canceled  Not_Canceled
type_of_meal_plan
Meal Plan 1            5997         13437
Meal Plan 2            1069          1276
Meal Plan 3               1             1
Not Selected           1153          2458
booking_status              Canceled  Not_Canceled
required_car_parking_space
0                               8134         16447
1                                 86           725
booking_status      Canceled  Not_Canceled
room_type_reserved
Room_Type 1             6255         13421
Room_Type 2              161           333
Room_Type 3                1             4
Room_Type 4             1429          2806
Room_Type 5               53           136
Room_Type 6              294           390
Room_Type 7               27            82
booking_status  Canceled  Not_Canceled
lead_time
1                    735          5802
2                   1390          4861
3                   2015          4230
4                   4080          2279
booking_status  Canceled  Not_Canceled
arrival_year
2017                 667          3913
2018                7553         13259
booking_status  Canceled  Not_Canceled
arrival_month
1                     17           683
2                    293           887
3                    481          1199
4                    691          1229
5                    666          1159
6                    907          1340
7                    919          1135
8                   1013          1666
9                   1075          2181
10                  1303          2398
11                   573          1455
12                   282          1840
booking_status  Canceled  Not_Canceled
arrival_date
1                    325           494
2                    216           743
3                    271           479
4                    327           611
5                    232           606
6                    311           566
7                    272           539
8                    256           564
9                    206           565
10                   215           530
11                   211           539
12                   318           500
13                   290           670
14                   227           650
15                   366           521
16                   323           587
17                   310           631
18                   253           629
19                   274           653
20                   272           617
21                   269           563
22                   235           475
23                   252           460
24                   253           501
25                   278           522
26                   295           506
27                   213           541
28                   272           523
29                   233           579
30                   324           523
31                   121           285
booking_status       Canceled  Not_Canceled
market_segment_type
Aviation                   26            68
Complementary               0           269
Corporate                 156          1262
Offline                  2221          5148
Online                   5817         10425
booking_status  Canceled  Not_Canceled
repeated_guest
0                   8208         16527
1                     12           645
booking_status                Canceled  Not_Canceled
no_of_previous_cancellations
0                                 8208         16943
1                                    7           135
2                                    0            33
3                                    1            26
4                                    0             8
5                                    0             8
6                                    0             1
11                                   0            18
13                                   4             0
booking_status                        Canceled  Not_Canceled
no_of_previous_bookings_not_canceled
4                                         8220         17172
booking_status      Canceled  Not_Canceled
avg_price_per_room
1.0                     1351          5008
2.0                     1754          4605
3.0                     2729          3552
4.0                     2386          4007
booking_status          Canceled  Not_Canceled
no_of_special_requests
0                           5931          7923
1                           1859          6085
2                            430          2646
3                              0           457
4                              0            54
5                              0             7
booking_status  Canceled  Not_Canceled
booking_status
Canceled            8220             0
Not_Canceled           0         17172