<img src='https://upload.wikimedia.org/wikipedia/fr/thumb/e/ed/Logo_Universit%C3%A9_du_Maine.svg/1280px-Logo_Universit%C3%A9_du_Maine.svg.png' width="300" height="500">

# Hotel Reservation Dataset

## Présentation du dataset

### Objectif du dataset

Le dataset contient les données de réservations en ligne des clients d'un hotel. **Le but de ce jeu de données est d'arriver à prédir si le client va respecter sa réservation ou l'annuler**.

### Description des données

* **Booking_ID** : unique identifier of each booking
* **no_of_adults** : Number of adults
* **no_of_children** : Number of Children
* **no_of_weekend_nights** : Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
* **no_of_week_nights** : Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
* **type_of_meal_plan** : Type of meal plan booked by the customer:
* **required_car_parking_space** : Does the customer require a car parking space? (0 - No, 1- Yes)
* **room_type_reserved** : Type of room reserved by the customer. The values are ciphered (encoded) by INN Hotels.
* **lead_time**: Number of days between the date of booking and the arrival date
* **arrival_year** : Year of arrival date
* **arrival_month** : Month of arrival date
* **arrival_date** : Date of the month
* **market_segment_type** : Market segment designation.
* **repeated_guest** : Is the customer a repeated guest? (0 - No, 1- Yes)
* **no_of_previous_cancellations** : Number of previous bookings that were canceled by the customer prior to the current booking
* **no_of_previous_bookings_not_canceled** : Number of previous bookings not canceled by the customer prior to the current booking
* **avg_price_per_room** : Average price per day of the reservation; prices of the rooms are dynamic. (in euros)
* **no_of_special_requests** : Total number of special requests made by the customer (e.g. high floor, view from the room, etc)
* **booking_status** : Flag indicating if the booking was canceled or not.

In [1]:
import pandas as pd 
import numpy as np


dataset = pd.read_csv('archive/Hotel Reservations.csv')
dataset

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [2]:
dataset.values.shape

(36275, 19)

# Analyse des données
On regarde si des valeurs sont égales à Nan
<br>
ID à supprimer : pas pertinenent
<br>
Des variables à discrétiser : avg_price_per_room, lead_time, no_of_previous_bookings_not_canceled
<br>
Attention à certaines variables qui sont majoritairement nulles

In [3]:
def verificationNan(dataset):
    return dataset.isna().sum()

In [4]:
verificationNan(dataset)

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [5]:
def dataAnalysis(dataset):
    for series_name, series in dataset.items():
        #print(series_name)
        print("**************\n")
        print(series.value_counts())
        print("**************\n")

In [6]:
dataAnalysis(dataset)

**************

INN00001    1
INN24187    1
INN24181    1
INN24182    1
INN24183    1
           ..
INN12086    1
INN12085    1
INN12084    1
INN12083    1
INN36275    1
Name: Booking_ID, Length: 36275, dtype: int64
**************

**************

2    26108
1     7695
3     2317
0      139
4       16
Name: no_of_adults, dtype: int64
**************

**************

0     33577
1      1618
2      1058
3        19
9         2
10        1
Name: no_of_children, dtype: int64
**************

**************

0    16872
1     9995
2     9071
3      153
4      129
5       34
6       20
7        1
Name: no_of_weekend_nights, dtype: int64
**************

**************

2     11444
1      9488
3      7839
4      2990
0      2387
5      1614
6       189
7       113
10       62
8        62
9        34
11       17
15       10
12        9
14        7
13        5
17        3
16        2
Name: no_of_week_nights, dtype: int64
**************

**************

Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5
Name: type_of_meal_plan, dtype: int64
**************

**************

0    35151
1     1124
Name: required_car_parking_space, dtype: int64
**************

**************

Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: room_type_reserved, dtype: int64
**************

**************

0      1297
1      1078
2       643
3       630
4       628
       ...
300       1
353       1
328       1
352       1
351       1
Name: lead_time, Length: 352, dtype: int64
**************

**************

2018    29761
2017     6514
Name: arrival_year, dtype: int64
**************

**************

10    5317
9     4611
8     3813
6     3203
12    3021
11    2980
7     2920
4     2736
5     2598
3     2358
2     1704
1     1014
Name: arrival_month, dtype: int64
**************

**************

13    1358
17    1345
2     1331
4     1327
19    1327
16    1306
20    1281
15    1273
6     1273
18    1260
14    1242
30    1216
12    1204
8     1198
29    1190
21    1158
5     1154
26    1146
25    1146
1     1133
9     1130
28    1129
7     1110
24    1103
11    1098
3     1098
10    1089
27    1059
22    1023
23     990
31     578
Name: arrival_date, dtype: int64
**************

**************

Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125
Name: market_segment_type, dtype: int64
**************

**************

0    35345
1      930
Name: repeated_guest, dtype: int64
**************

**************

0     35937
1       198
2        46
3        43
11       25
5        11
4        10
13        4
6         1
Name: no_of_previous_cancellations, dtype: int64
**************

**************

0     35463
1       228
2       112
3        80
4        65
5        60
6        36
7        24
8        23
10       19
9        19
11       15
12       12
14        9
15        8
16        7
13        7
18        6
20        6
21        6
17        6
19        6
22        6
25        3
27        3
24        3
23        3
44        2
29        2
48        2
28        2
30        2
32        2
31        2
26        2
46        1
55        1
45        1
57        1
53        1
54        1
58        1
41        1
40        1
43        1
35        1
50        1
56        1
33        1
37        1
42        1
51        1
38        1
34        1
39        1
52        1
49        1
47        1
36        1
Name: no_of_previous_bookings_not_canceled, dtype: int64
**************

**************

65.00     848
75.00     826
90.00     703
95.00     669
115.00    662
         ...
212.42      1
83.48       1
70.42       1
130.99      1
167.80      1
Name: avg_price_per_room, Length: 3930, dtype: int64
**************

**************

0    19777
1    11373
2     4364
3      675
4       78
5        8
Name: no_of_special_requests, dtype: int64
**************

**************

Not_Canceled    24390
Canceled        11885
Name: booking_status, dtype: int64
**************

In [7]:
# to execute only once
dataset = dataset.drop('Booking_ID',axis=1)
dataset

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [8]:
# Decomposition en quartile

def quartile(feature):
    prem_quartile = feature.quantile(0.25)
    de_quartile = feature.quantile(0.5)
    trois_quartile = feature.quantile(0.75)
    return (prem_quartile,de_quartile,trois_quartile)






# df.loc[df.C <= df.B, 'B':'E']
# quarter['avg_price_per_room'] = prem_quartile
# quarter

In [9]:
# Discrétistation des données


def discretisation(features,dataset):
    for feature in features:
        pQ,dQ,tQ = quartile(feature)
        dataset.loc[(feature <= pQ), feature.name] = 1
        dataset.loc[(feature > pQ) & (feature <= dQ), feature.name] = 2
        dataset.loc[(feature > dQ) & (feature <= tQ), feature.name] = 3
        dataset.loc[(feature > tQ), feature.name] = 4

In [10]:
continuFeatures = [dataset.avg_price_per_room,dataset.lead_time, dataset.no_of_previous_bookings_not_canceled]
discretisation(continuFeatures,dataset)

In [11]:
dataset

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,4,2017,10,2,Offline,0,0,4,1.0,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,1,2018,11,6,Online,0,0,4,3.0,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,4,1.0,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,4,2018,5,20,Online,0,0,4,3.0,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,2,2018,4,11,Online,0,0,4,2.0,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,Meal Plan 1,0,Room_Type 4,3,2018,8,3,Online,0,0,4,4.0,1,Not_Canceled
36271,2,0,1,3,Meal Plan 1,0,Room_Type 1,4,2018,10,17,Online,0,0,4,2.0,2,Canceled
36272,2,0,2,6,Meal Plan 1,0,Room_Type 1,4,2018,7,1,Online,0,0,4,2.0,2,Not_Canceled
36273,2,0,0,3,Not Selected,0,Room_Type 1,3,2018,4,21,Online,0,0,4,2.0,0,Canceled
36274,2,0,1,2,Meal Plan 1,0,Room_Type 1,4,2018,12,30,Offline,0,0,4,4.0,0,Not_Canceled

In [12]:
pd.qcut(dataset['no_of_previous_bookings_not_canceled'], 1 , labels=["peu"])

0        peu
1        peu
2        peu
3        peu
4        peu
        ...
36270    peu
36271    peu
36272    peu
36273    peu
36274    peu
Name: no_of_previous_bookings_not_canceled, Length: 36275, dtype: category
Categories (1, object): ['peu']

In [13]:
# Pre-process des données 


dataframe = dataset.sample(frac=1).reset_index(drop=True)



def train_test_dev_split(dataset):
    x_train = dataset.sample(frac=0.7)

    y_train = x_train['booking_status']
    
    x_test = dataset.drop(x_train.index,axis=0)
    
    y_test = x_test['booking_status']

    return (x_train,y_train,x_test,y_test)


x_train, y_train,x_test,y_test = train_test_dev_split(dataset)

In [14]:
# Detection des zeros pour préparer au classifieur bayesien naif
def zeroExistence(df):
    if (0 in df.values):
        return True
    return False

In [15]:
zeroExistence(dataset)

True

In [16]:
# Si zeros : +1 à toutes les données numériques

In [17]:
# Discretisation des données par la moyenne 

stats = x_train['avg_price_per_room'].describe()
slice = x_train.loc[x_train['avg_price_per_room'] <= 103.4]
slice

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
7983,2,0,0,1,Meal Plan 1,0,Room_Type 1,2,2018,6,15,Online,0,0,4,3.0,0,Canceled
7766,2,0,1,3,Meal Plan 1,0,Room_Type 1,4,2018,10,3,Offline,0,0,4,3.0,0,Canceled
15091,2,0,0,1,Meal Plan 2,0,Room_Type 1,2,2017,9,4,Offline,0,0,4,3.0,0,Not_Canceled
709,2,0,2,1,Meal Plan 1,0,Room_Type 1,3,2017,7,11,Online,0,0,4,1.0,0,Canceled
20263,2,0,0,1,Meal Plan 1,0,Room_Type 1,2,2018,10,20,Online,0,0,4,3.0,2,Not_Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16835,1,0,1,1,Meal Plan 2,0,Room_Type 1,4,2018,6,6,Offline,0,0,4,2.0,1,Not_Canceled
5544,1,1,2,1,Not Selected,0,Room_Type 1,1,2018,10,29,Online,0,0,4,2.0,1,Not_Canceled
23434,1,0,1,0,Meal Plan 1,0,Room_Type 1,1,2018,6,20,Online,0,0,4,3.0,0,Not_Canceled
9606,2,0,0,3,Meal Plan 1,0,Room_Type 4,1,2018,6,14,Corporate,0,0,4,2.0,0,Canceled
11127,1,0,1,2,Meal Plan 1,0,Room_Type 1,2,2018,3,7,Online,0,0,4,1.0,0,Canceled

In [18]:
slice.keys

<bound method NDFrame.keys of        no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  \
7983              2               0                     0                  1
7766              2               0                     1                  3
15091             2               0                     0                  1
709               2               0                     2                  1
20263             2               0                     0                  1
...             ...             ...                   ...                ...
16835             1               0                     1                  1
5544              1               1                     2                  1
23434             1               0                     1                  0
9606              2               0                     0                  3
11127             1               0                     1                  2

      type_of_meal_plan  required_car_parking_space room_type_reserved  \
7983        Meal Plan 1                           0        Room_Type 1
7766        Meal Plan 1                           0        Room_Type 1
15091       Meal Plan 2                           0        Room_Type 1
709         Meal Plan 1                           0        Room_Type 1
20263       Meal Plan 1                           0        Room_Type 1
...                 ...                         ...                ...
16835       Meal Plan 2                           0        Room_Type 1
5544       Not Selected                           0        Room_Type 1
23434       Meal Plan 1                           0        Room_Type 1
9606        Meal Plan 1                           0        Room_Type 4
11127       Meal Plan 1                           0        Room_Type 1

       lead_time  arrival_year  arrival_month  arrival_date  \
7983           2          2018              6            15
7766           4          2018             10             3
15091          2          2017              9             4
709            3          2017              7            11
20263          2          2018             10            20
...          ...           ...            ...           ...
16835          4          2018              6             6
5544           1          2018             10            29
23434          1          2018              6            20
9606           1          2018              6            14
11127          2          2018              3             7

      market_segment_type  repeated_guest  no_of_previous_cancellations  \
7983               Online               0                             0
7766              Offline               0                             0
15091             Offline               0                             0
709                Online               0                             0
20263              Online               0                             0
...                   ...             ...                           ...
16835             Offline               0                             0
5544               Online               0                             0
23434              Online               0                             0
9606            Corporate               0                             0
11127              Online               0                             0

       no_of_previous_bookings_not_canceled  avg_price_per_room  \
7983                                      4                 3.0
7766                                      4                 3.0
15091                                     4                 3.0
709                                       4                 1.0
20263                                     4                 3.0
...                                     ...                 ...
16835                                     4                 2.0
5544                                      4                 2.0
23434                                     4                 3.0
9606                                      4                 2.0
11127                                     4                 1.0

       no_of_special_requests booking_status
7983                        0       Canceled
7766                        0       Canceled
15091                       0   Not_Canceled
709                         0       Canceled
20263                       2   Not_Canceled
...                       ...            ...
16835                       1   Not_Canceled
5544                        1   Not_Canceled
23434                       0   Not_Canceled
9606                        0       Canceled
11127                       0       Canceled

[25392 rows x 18 columns]>

## ZeroR

In [19]:
def zeroR(target):
    res =  target.value_counts()
    
    return res.idxmax()

In [20]:
test = zeroR(x_train.loc[:,'booking_status'])
test

'Not_Canceled'

# Création des tables de fréquences pour OneR

In [21]:
x_train['required_car_parking_space'].value_counts()

0    24605
1      787
Name: required_car_parking_space, dtype: int64

In [22]:
freq_table = pd.crosstab(x_train['no_of_children'], x_train['booking_status']) 
freq_table

booking_status  Canceled  Not_Canceled
no_of_children
0                   7533         15959
1                    381           762
2                    319           422
3                      4             9
9                      1             1
10                     0             1

In [23]:
freq_table[['Canceled']]

booking_status  Canceled
no_of_children
0                   7533
1                    381
2                    319
3                      4
9                      1
10                     0

In [24]:
res = freq_table['Canceled'] + freq_table['Not_Canceled']
freq_table['Total'] = res
res

no_of_children
0     23492
1      1143
2       741
3        13
9         2
10        1
dtype: int64

In [25]:
freq_table

booking_status  Canceled  Not_Canceled  Total
no_of_children
0                   7533         15959  23492
1                    381           762   1143
2                    319           422    741
3                      4             9     13
9                      1             1      2
10                     0             1      1

In [42]:

def frequency_table(data):
    freq_tables = []
    for series_name, series in data.items():
        if (series_name == "Booking_status"):
            pass
        freq_table = pd.crosstab(data[series_name], data['booking_status'])
        #freq_table.loc[:, 'Total'] = freq_table.loc[:,'Canceled'] + freq_table.loc[:,'Not_Canceled']
        freq_tables.append(freq_table)
    return freq_tables

In [43]:
freq = frequency_table(x_train)
for table in freq:
    print(table)

booking_status  Canceled  Not_Canceled
no_of_adults
0                     29            68
1                   1305          4104
2                   6315         11953
3                    587          1020
4                      2             9
booking_status  Canceled  Not_Canceled
no_of_children
0                   7533         15959
1                    381           762
2                    319           422
3                      4             9
9                      1             1
10                     0             1
booking_status        Canceled  Not_Canceled
no_of_weekend_nights
0                         3534          8266
1                         2387          4661
2                         2184          4131
3                           50            56
4                           52            34
5                           21             2
6                           10             4
booking_status     Canceled  Not_Canceled
no_of_week_nights
0                       454          1215
1                      1792          4855
2                      2798          5213
3                      1777          3703
4                       803          1318
5                       430           688
6                        57            77
7                        31            42
8                        19            22
9                        14             9
10                       36             4
11                       11             3
12                        4             1
13                        3             0
14                        3             2
15                        5             1
16                        1             0
17                        0             1
booking_status     Canceled  Not_Canceled
type_of_meal_plan
Meal Plan 1            6017         13479
Meal Plan 2            1044          1258
Meal Plan 3               1             3
Not Selected           1176          2414
booking_status              Canceled  Not_Canceled
required_car_parking_space
0                               8160         16445
1                                 78           709
booking_status      Canceled  Not_Canceled
room_type_reserved
Room_Type 1             6289         13362
Room_Type 2              150           335
Room_Type 3                1             4
Room_Type 4             1441          2839
Room_Type 5               47           134
Room_Type 6              287           392
Room_Type 7               23            88
booking_status  Canceled  Not_Canceled
lead_time
1                    769          5775
2                   1360          4891
3                   2071          4206
4                   4038          2282
booking_status  Canceled  Not_Canceled
arrival_year
2017                 649          3937
2018                7589         13217
booking_status  Canceled  Not_Canceled
arrival_month
1                     14           708
2                    311           907
3                    474          1168
4                    705          1191
5                    677          1138
6                    899          1350
7                    902          1112
8                   1024          1653
9                   1044          2194
10                  1294          2370
11                   620          1469
12                   274          1894
booking_status  Canceled  Not_Canceled
arrival_date
1                    336           466
2                    223           751
3                    282           485
4                    327           604
5                    228           600
6                    318           579
7                    237           518
8                    248           593
9                    198           581
10                   205           552
11                   215           538
12                   303           523
13                   280           657
14                   242           642
15                   372           508
16                   311           591
17                   303           630
18                   243           618
19                   291           645
20                   296           593
21                   273           551
22                   242           465
23                   241           450
24                   252           513
25                   276           534
26                   307           516
27                   220           527
28                   290           530
29                   238           593
30                   309           530
31                   132           271
booking_status       Canceled  Not_Canceled
market_segment_type
Aviation                   28            64
Complementary               0           285
Corporate                 147          1272
Offline                  2198          5146
Online                   5865         10387
booking_status  Canceled  Not_Canceled
repeated_guest
0                   8229         16491
1                      9           663
booking_status                Canceled  Not_Canceled
no_of_previous_cancellations
0                                 8229         16914
1                                    6           137
2                                    0            39
3                                    0            28
4                                    0             8
5                                    0             9
6                                    0             1
11                                   0            18
13                                   3             0
booking_status                        Canceled  Not_Canceled
no_of_previous_bookings_not_canceled
4                                         8238         17154
booking_status      Canceled  Not_Canceled
avg_price_per_room
1.0                     1327          5022
2.0                     1821          4571
3.0                     2756          3552
4.0                     2334          4009
booking_status          Canceled  Not_Canceled
no_of_special_requests
0                           5924          7933
1                           1879          6062
2                            435          2607
3                              0           485
4                              0            62
5                              0             5
booking_status  Canceled  Not_Canceled
booking_status
Canceled            8238             0
Not_Canceled           0         17154

In [49]:
freq[0].loc[0].idxmax()

'Not_Canceled'

In [48]:
def ruleOver(freqs):
    for freq in freqs:
        index_labels = freq.index.values
        for idx_label in index_labels:
            print(freq.loc[idx_label].idxmax())

In [50]:
ruleOver(freq)

Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Canceled
Canceled
Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Canceled
Canceled
Canceled
Canceled
Canceled
Canceled
Canceled
Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Not_Canceled
Canceled
Not_Canceled