<img src='https://upload.wikimedia.org/wikipedia/fr/thumb/e/ed/Logo_Universit%C3%A9_du_Maine.svg/1280px-Logo_Universit%C3%A9_du_Maine.svg.png' width="300" height="500">

# Hotel Reservation Dataset

## Présentation du dataset

### Objectif du dataset

Le dataset contient les données de réservations en ligne des clients d'un hotel. **Le but de ce jeu de données est d'arriver à prédir si le client va respecter sa réservation ou l'annuler**.

### Description des données

* **Booking_ID** : unique identifier of each booking
* **no_of_adults** : Number of adults
* **no_of_children** : Number of Children
* **no_of_weekend_nights** : Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
* **no_of_week_nights** : Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
* **type_of_meal_plan** : Type of meal plan booked by the customer:
* **required_car_parking_space** : Does the customer require a car parking space? (0 - No, 1- Yes)
* **room_type_reserved** : Type of room reserved by the customer. The values are ciphered (encoded) by INN Hotels.
* **lead_time**: Number of days between the date of booking and the arrival date
* **arrival_year** : Year of arrival date
* **arrival_month** : Month of arrival date
* **arrival_date** : Date of the month
* **market_segment_type** : Market segment designation.
* **repeated_guest** : Is the customer a repeated guest? (0 - No, 1- Yes)
* **no_of_previous_cancellations** : Number of previous bookings that were canceled by the customer prior to the current booking
* **no_of_previous_bookings_not_canceled** : Number of previous bookings not canceled by the customer prior to the current booking
* **avg_price_per_room** : Average price per day of the reservation; prices of the rooms are dynamic. (in euros)
* **no_of_special_requests** : Total number of special requests made by the customer (e.g. high floor, view from the room, etc)
* **booking_status** : Flag indicating if the booking was canceled or not.

In [42]:
import pandas as pd 
import numpy as np


dataset = pd.read_csv('archive/Hotel Reservations.csv')
dataset

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [43]:
dataset.values.shape

(36275, 19)

# Analyse des données
ID à supprimer : pas pertinenent
<br>
Des variables à discrétiser : avg_price_per_room, lead_time, no_of_previous_bookings_not_canceled
<br>
Attention à certaines variables qui sont majoritairement nulles

In [44]:
def dataAnalysis(dataset):
    for series_name, series in dataset.items():
        #print(series_name)
        print("**************\n")
        print(series.value_counts())
        print("**************\n")

In [41]:
dataAnalysis(dataset)

**************

2    26108
1     7695
3     2317
0      139
4       16
Name: no_of_adults, dtype: int64
**************

**************

0     33577
1      1618
2      1058
3        19
9         2
10        1
Name: no_of_children, dtype: int64
**************

**************

0    16872
1     9995
2     9071
3      153
4      129
5       34
6       20
7        1
Name: no_of_weekend_nights, dtype: int64
**************

**************

2     11444
1      9488
3      7839
4      2990
0      2387
5      1614
6       189
7       113
10       62
8        62
9        34
11       17
15       10
12        9
14        7
13        5
17        3
16        2
Name: no_of_week_nights, dtype: int64
**************

**************

Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5
Name: type_of_meal_plan, dtype: int64
**************

**************

0    35151
1     1124
Name: required_car_parking_space, dtype: int64
**************

**************

Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: room_type_reserved, dtype: int64
**************

**************

1    9226
4    9058
3    9015
2    8976
Name: lead_time, dtype: int64
**************

**************

2018    29761
2017     6514
Name: arrival_year, dtype: int64
**************

**************

10    5317
9     4611
8     3813
6     3203
12    3021
11    2980
7     2920
4     2736
5     2598
3     2358
2     1704
1     1014
Name: arrival_month, dtype: int64
**************

**************

13    1358
17    1345
2     1331
4     1327
19    1327
16    1306
20    1281
15    1273
6     1273
18    1260
14    1242
30    1216
12    1204
8     1198
29    1190
21    1158
5     1154
26    1146
25    1146
1     1133
9     1130
28    1129
7     1110
24    1103
11    1098
3     1098
10    1089
27    1059
22    1023
23     990
31     578
Name: arrival_date, dtype: int64
**************

**************

Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125
Name: market_segment_type, dtype: int64
**************

**************

0    35345
1      930
Name: repeated_guest, dtype: int64
**************

**************

0     35937
1       198
2        46
3        43
11       25
5        11
4        10
13        4
6         1
Name: no_of_previous_cancellations, dtype: int64
**************

**************

4    36275
Name: no_of_previous_bookings_not_canceled, dtype: int64
**************

**************

1.0    9085
2.0    9081
4.0    9058
3.0    9051
Name: avg_price_per_room, dtype: int64
**************

**************

0    19777
1    11373
2     4364
3      675
4       78
5        8
Name: no_of_special_requests, dtype: int64
**************

**************

Not_Canceled    24390
Canceled        11885
Name: booking_status, dtype: int64
**************

In [26]:
# to execute only once
dataset = dataset.drop('Booking_ID',axis=1)
dataset

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [27]:
# Decomposition en quartile

def quartile(feature):
    prem_quartile = feature.quantile(0.25)
    de_quartile = feature.quantile(0.5)
    trois_quartile = feature.quantile(0.75)
    return (prem_quartile,de_quartile,trois_quartile)






# df.loc[df.C <= df.B, 'B':'E']
# quarter['avg_price_per_room'] = prem_quartile
# quarter

'avg_price_per_room'

In [36]:
# Discrétistation des données


def discretisation(features,dataset):
    for feature in features:
        pQ,dQ,tQ = quartile(feature)
        dataset.loc[(feature <= pQ), feature.name] = 1
        dataset.loc[(feature > pQ) & (feature <= dQ), feature.name] = 2
        dataset.loc[(feature > dQ) & (feature <= tQ), feature.name] = 3
        dataset.loc[(feature > tQ), feature.name] = 4

In [37]:
continuFeatures = [dataset.avg_price_per_room,dataset.lead_time, dataset.no_of_previous_bookings_not_canceled]
discretisation(continuFeatures,dataset)

In [38]:
dataset

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,4,2017,10,2,Offline,0,0,4,1.0,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,1,2018,11,6,Online,0,0,4,3.0,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,4,1.0,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,4,2018,5,20,Online,0,0,4,3.0,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,2,2018,4,11,Online,0,0,4,2.0,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,Meal Plan 1,0,Room_Type 4,3,2018,8,3,Online,0,0,4,4.0,1,Not_Canceled
36271,2,0,1,3,Meal Plan 1,0,Room_Type 1,4,2018,10,17,Online,0,0,4,2.0,2,Canceled
36272,2,0,2,6,Meal Plan 1,0,Room_Type 1,4,2018,7,1,Online,0,0,4,2.0,2,Not_Canceled
36273,2,0,0,3,Not Selected,0,Room_Type 1,3,2018,4,21,Online,0,0,4,2.0,0,Canceled
36274,2,0,1,2,Meal Plan 1,0,Room_Type 1,4,2018,12,30,Offline,0,0,4,4.0,0,Not_Canceled

In [40]:
dataset.value_counts()

no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  type_of_meal_plan  required_car_parking_space  room_type_reserved  lead_time  arrival_year  arrival_month  arrival_date  market_segment_type  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests  booking_status
2             0               0                     2                  Meal Plan 2        0                           Room_Type 1         2          2017          8              14            Offline              0               0                             4                                     3.0                 0                       Not_Canceled      123
                                                                                                                                          3          2017          9              18            Offline              0               0                             4                                     3.0                 0                       Not_Canceled      113
1             0               0                     2                  Meal Plan 1        0                           Room_Type 1         4          2018          6              24            Offline              0               0                             4                                     2.0                 0                       Not_Canceled       91
                                                    3                  Meal Plan 1        0                           Room_Type 1         3          2018          6              14            Offline              0               0                             4                                     3.0                 0                       Not_Canceled       89
                                                    2                  Meal Plan 1        0                           Room_Type 1         4          2017          10             2             Offline              0               0                             4                                     3.0                 0                       Not_Canceled       87
                                                                                                                                                                                                                                                                                                                                                                      ...
2             0               0                     3                  Meal Plan 1        0                           Room_Type 4         1          2018          4              21            Online               0               0                             4                                     4.0                 0                       Not_Canceled        1
                                                                                                                                                                                  20            Online               0               0                             4                                     2.0                 1                       Not_Canceled        1
                                                                                                                                                                                  19            Online               0               0                             4                                     1.0                 0                       Not_Canceled        1
                                                                                                                                                                                  13            Online               0               0                             4                                     4.0                 0                       Canceled            1
4             0               2                     1                  Meal Plan 1        0                           Room_Type 7         3          2018          12             25            Online               0               0                             4                                     4.0                 2                       Not_Canceled        1
Length: 24018, dtype: int64

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [43]:
# Pre-process des données 


dataframe = dataset.sample(frac=1).reset_index(drop=True)



def train_test_dev_split(dataset):
    x_train = dataset.sample(frac=0.7)

    y_train = x_train['booking_status']
    
    x_test = dataset.drop(x_train.index,axis=0)
    
    y_test = x_test['booking_status']

    return (x_train,y_train,x_test,y_test)


x_train, y_train,x_test,y_test = train_test_dev_split(dataset)

In [44]:
# Detection des zeros pour préparer au classifieur bayesien naif
def zeroExistence(df):
    if (0 in df.values):
        return True
    return False

In [45]:
zeroExistence(dataset)

True

In [5]:
# Si zeros : +1 à toutes les données numériques

In [46]:
# Discretisation des données par la moyenne 

stats = x_train['avg_price_per_room'].describe()
slice = x_train.loc[x_train['avg_price_per_room'] <= 103.4]
slice

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
30251,2,0,2,1,Meal Plan 1,0,Room_Type 1,145,2018,1,3,Offline,0,0,0,65.00,0,Not_Canceled
12791,1,0,1,1,Meal Plan 1,0,Room_Type 1,4,2018,4,18,Online,0,0,0,73.92,1,Not_Canceled
4320,2,0,2,2,Meal Plan 1,0,Room_Type 1,54,2018,10,16,Offline,0,0,0,81.00,0,Not_Canceled
35136,2,0,1,5,Meal Plan 1,0,Room_Type 4,17,2018,1,26,Online,0,0,0,89.30,1,Not_Canceled
9351,1,0,0,2,Meal Plan 2,0,Room_Type 1,74,2017,9,18,Offline,0,0,0,87.00,0,Not_Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27218,2,0,1,3,Meal Plan 1,0,Room_Type 1,87,2018,3,24,Offline,0,0,0,68.50,0,Not_Canceled
2083,2,0,2,5,Meal Plan 1,0,Room_Type 1,0,2018,1,10,Online,1,0,1,41.84,1,Not_Canceled
23959,2,0,1,2,Meal Plan 1,0,Room_Type 1,74,2018,11,11,Online,0,0,0,93.60,2,Not_Canceled
35367,2,0,1,2,Meal Plan 1,0,Room_Type 1,133,2018,4,29,Online,0,0,0,99.30,1,Not_Canceled
35657,2,0,0,3,Meal Plan 1,0,Room_Type 1,304,2018,11,3,Offline,0,0,0,89.00,0,Canceled

In [8]:
slice.keys

<bound method NDFrame.keys of       Booking_ID  no_of_adults  no_of_children  no_of_weekend_nights  \
30577   INN30578             2               0                     2
14598   INN14599             2               0                     2
20639   INN20640             2               0                     0
15976   INN15977             2               0                     0
300     INN00301             1               0                     0
...          ...           ...             ...                   ...
30863   INN30864             1               0                     2
8128    INN08129             2               0                     0
4287    INN04288             2               0                     2
27354   INN27355             1               0                     0
63      INN00064             1               0                     0

       no_of_week_nights type_of_meal_plan  required_car_parking_space  \
30577                  1       Meal Plan 1                           0
14598                  0       Meal Plan 1                           0
20639                  3       Meal Plan 1                           0
15976                  2       Meal Plan 1                           0
300                    3       Meal Plan 1                           0
...                  ...               ...                         ...
30863                  0      Not Selected                           0
8128                   1       Meal Plan 1                           0
4287                   4       Meal Plan 1                           0
27354                  1       Meal Plan 1                           0
63                     1       Meal Plan 1                           0

      room_type_reserved  lead_time  arrival_year  arrival_month  \
30577        Room_Type 1         89          2017             11
14598        Room_Type 1          0          2017              9
20639        Room_Type 4         14          2018              2
15976        Room_Type 1        122          2018              4
300          Room_Type 1         37          2018             10
...                  ...        ...           ...            ...
30863        Room_Type 1         38          2018              8
8128         Room_Type 2        210          2017              7
4287         Room_Type 1         11          2018             11
27354        Room_Type 1         21          2018              2
63           Room_Type 1          2          2017              9

       arrival_date market_segment_type  repeated_guest  \
30577            28              Online               0
14598            20           Corporate               0
20639             3              Online               0
15976            15             Offline               0
300              13             Offline               0
...             ...                 ...             ...
30863            21              Online               0
8128             30              Online               0
4287             13              Online               0
27354            11              Online               0
63               10       Complementary               0

       no_of_previous_cancellations  no_of_previous_bookings_not_canceled  \
30577                             0                                     0
14598                             0                                     0
20639                             0                                     0
15976                             0                                     0
300                               0                                     0
...                             ...                                   ...
30863                             0                                     0
8128                              0                                     0
4287                              0                                     0
27354                             0                                     0
63                                0                                     0

       avg_price_per_room  no_of_special_requests booking_status
30577               55.63                       2   Not_Canceled
14598               65.00                       0   Not_Canceled
20639               82.80                       1   Not_Canceled
15976               85.00                       0       Canceled
300                 95.00                       0   Not_Canceled
...                   ...                     ...            ...
30863               92.86                       0       Canceled
8128                76.50                       0       Canceled
4287                65.29                       1   Not_Canceled
27354               85.00                       0       Canceled
63                   0.00                       1   Not_Canceled

[13935 rows x 19 columns]>

In [10]:
df2 = slice[['Booking_ID','avg_price_per_room']]
df2

      Booking_ID  avg_price_per_room
30577   INN30578               55.63
14598   INN14599               65.00
20639   INN20640               82.80
15976   INN15977               85.00
300     INN00301               95.00
...          ...                 ...
30863   INN30864               92.86
8128    INN08129               76.50
4287    INN04288               65.29
27354   INN27355               85.00
63      INN00064                0.00

[13935 rows x 2 columns]

# Création des tables de fréquences pour OneR

In [11]:
x_train['required_car_parking_space'].value_counts()

0    24625
1      767
Name: required_car_parking_space, dtype: int64

In [47]:
freq_table = pd.crosstab(x_train['no_of_children'], x_train['booking_status']) 
freq_table

booking_status  Canceled  Not_Canceled
no_of_children
0                   7713         15829
1                    373           747
2                    306           409
3                      2            11
9                      1             0
10                     0             1

In [56]:
freq_table[['Canceled']]

booking_status  Canceled
no_of_children
0                   7713
1                    373
2                    306
3                      2
9                      1
10                     0

In [57]:
res = freq_table['Canceled'] + freq_table['Not_Canceled']
freq_table['Total'] = res
res

no_of_children
0     23542
1      1120
2       715
3        13
9         1
10        1
dtype: int64

In [58]:
freq_table

booking_status  Canceled  Not_Canceled  Total
no_of_children
0                   7713         15829  23542
1                    373           747   1120
2                    306           409    715
3                      2            11     13
9                      1             0      1
10                     0             1      1